POSTGRES_DATABASE=zpassfit
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost

YooKassa__ShopId=
YooKassa__SecretKey=
YooKassa__ReturnUrl=http://localhost:5173/membership/yookassa-return

Jwt__Issuer=ZPassFit
Jwt__Audience=ZPassFit
Jwt__AccessTokenExpirationMinutes=15
Jwt__RefreshTokenExpirationDays=30
Jwt__Secret=your_at_least_32_characters_long_secret_here

Seed__AdminEmail=
Seed__AdminPassword=
